@import '../../utils/constants/constants.scss';

.results {
    display: flex;
    flex-direction: column;
    background-color: #f5f6f7;
    align-items: center;
    padding: 80px 0px;
    box-sizing: border-box;
  }