$primary-color: #2f71e5;

$primary-bg-color: #fff;
$secondary-bg-color: #F5F6F7;
$footer-bg-color: #E5E5E5;

$disabled-button-color: #E6E8EB;
$hover-button-color: #E8E8E8;
$normal-icon-color: #B6BCBF;
$hover-icon-color: #1A1B22;
$marked-icon-color: $primary-color;

$primary-text-color: #1A1B22;
$secondary-text-color: #B6BCBF;
$black-text-color: black;
$white-text-color: white;
$error-color: #ff0000;

$footer-icon-color: #191717;

$form-border-bottom-color: rgba(0, 0, 0, 0.2);
$header-shadow-color: #D1D2D6;