* {
    margin: 0;
    padding: 0;
    }
  
  .app {
    color: #ffffff;
    font-family: 'Inter', arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: white;
    align-items: center;
    min-height: 100vh;
  }
  

