* {
    margin: 0;
    padding: 0;
    }
  
  .app {
    color: #ffffff;
    font-family: 'Inter', arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: white;
    align-items: center;
    height: 100%;
    min-width: 320px;
    width: 100%;
  }
  
//   .app__section {
//     width: 100%;
//     box-sizing: border-box;
//     /* max-width: 608px; */
//     display: flex;
//     padding: 0px 104px;
//     justify-content: center;
// }

// @media screen and (max-width: 1140px) {
//   .app__section {
//     padding: 0px 40px;
//   }

// }

// @media screen and (max-width: 750px) {
//   .app__section {
//     padding: 0px 16px;
//   }

// }


  

