@import '../../utils/constants/constants.scss';

.card {
  height: 576px;
  width: 400px;
  background-color: $primary-bg-color;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  &__top-left_container {
    display: flex;

    position: absolute;
    top: 24px;
    left: 24px;
  }
  &__tag_container {
    background: $primary-bg-color;
    display: flex;
    max-width: 182px;
    padding: 8px 22px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  &__tag_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: black;
  }
  &__top-right_container {
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
  }
  &__delete_container-text {
    background: $primary-bg-color;
    display: flex;
    max-width: 182px;
    padding: 8px 22px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 5px;
  }
  &__delete_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
  }
  &__icon-text_container {
    height: 40px;
    width: 40px;
    background: $primary-bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    &:hover {
      background-color: #E8E8E8;
      cursor: pointer;
    }
  }
  &__save-btn {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    background-image: url('../../images/save.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &:hover {
  background-image: url("../../images/saved-hover.svg");
  cursor: pointer;
    }
    &:active {
      background-image: url('../../images/saved-blue.svg');
    }
    
  }
  &__delete-btn {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    background-image: url('../../images/delete.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &:hover {
      cursor: pointer;
    }
  }
  &__pic {
    object-fit: cover;
    height: 272px;
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  &__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 24px 24px;
  }
  &__date {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: $secondary-text-color;
    margin-bottom: 12px;
  }
  &__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: $primary-text-color;
    margin-bottom: 16px;
  }
  &__paragraph {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $primary-text-color;
    margin-bottom: 18px;
    display: flex;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__source {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: $secondary-text-color;
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1140px) {
  .card {
    height: 420px;
    width: 224px;
    background-color: $primary-bg-color;
    display: flex;
    flex-direction: column;
    position: relative;
    &__top-left_container {
      display: flex;

      position: absolute;
      top: 8px;
      left: 8px;
    }
    &__tag_container {
      background: $primary-bg-color;
      display: flex;
      max-width: 182px;
      padding: 8px 20px;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
    }
    &__tag_text {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: black;
    }
    &__top-right_container {
      display: flex;
      position: absolute;
      top: 8px;
      right: 8px;
    }
    &__delete_container-text {
      background: $primary-bg-color;
      display: flex;
      max-width: 182px;
      padding: 8px 22px;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      margin-right: 5px;
    }
    &__delete_text {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      text-align: center;
      color: black;
    }
    &__icon-text_container {
      height: 40px;
      width: 40px;
      background: $primary-bg-color;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
    }
    &__save-btn {
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;
      background-image: url('../../images/save.svg');
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    &__delete-btn {
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;
      background-image: url('../../images/delete.svg');
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    &__pic {
      object-fit: cover;
      height: 150px;
      width: 100%;
    }
    &__text {
      height: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding-top: 20px;
      padding-right: 16px;
      padding-left: 16px;
      padding-bottom: 16px;
    }
    &__date {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: $secondary-text-color;
      margin-bottom: 8px;
    }
    &__title {
      color: #1a1b22;
      margin-bottom: 10px;
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 24px;
      color: $primary-text-color;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &__paragraph {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: $primary-text-color;
      margin-bottom: 12px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &__source {
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: $secondary-text-color;
      letter-spacing: 0.4px;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 750px) {
  .card {
    height: 440px;
    width: 288px;

    background-color: $primary-bg-color;
    display: flex;
    flex-direction: column;
    position: relative;
    &__top-left_container {
      display: flex;
      position: absolute;
      top: 16px;
      left: 16px;
    }
    &__tag_container {
      background: $primary-bg-color;
      display: flex;
      max-width: 182px;
      padding: 8px 20px;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
    }
    &__tag_text {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: black;
    }
    &__top-right_container {
      display: flex;
      position: absolute;
      top: 16px;
      right: 16px;
    }
    &__delete_container-text {
      background: $primary-bg-color;
      display: flex;
      max-width: 182px;
      padding: 8px 22px;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      margin-right: 5px;
    }
    &__delete_text {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      text-align: center;
      color: black;
    }
    &__icon-text_container {
      height: 40px;
      width: 40px;
      background: $primary-bg-color;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
    }
    &__save-btn {
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;
      background-image: url('../../images/save.svg');
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    &__delete-btn {
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;
      background-image: url('../../images/delete.svg');
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    &__pic {
      object-fit: cover;
      height: 196px;
      width: 100%;
    }
    &__text {
      height: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 16px;
    }
    &__date {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: $secondary-text-color;
      margin-bottom: 10px;
    }
    &__title {
      color: #1a1b22;
      margin-bottom: 20px;
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 24px;
      color: $primary-text-color;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &__paragraph {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: $primary-text-color;
      margin-bottom: 14px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &__source {
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: $secondary-text-color;
      letter-spacing: 0.4px;
      text-transform: uppercase;
    }
  }
}
