@import '../../utils/constants/constants.scss';

.search-form {
  max-width: 608px;
  padding-top: 80px;
  padding-bottom: 80px;
  &_container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;

  }
  &__pic {
    background-repeat: no-repeat;
    object-fit: cover;
    // width: 100vw;
    background-image: url('../../images/hero.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-family: 'Roboto Slab', arial, 'sans serif';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    margin: 0;
    max-width: 608px;
    margin-bottom: 32px;
  }
  &__subtitle {
    font-family: Roboto, arial, 'sans serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 88px;
    max-width: 608px;
  }
}

.search-bar {
  &__container {
    position: relative;
      min-width: 609px;
  
  }
&__form{
  background-color: white;
  border-radius: 100px;
}
  &__input {
    border: none;
    position: relative;
    background: transparent;
    font-family: Roboto, arial, 'sans serif';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
    max-width: 439px;
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 21px 24px 21px 24px;
    box-sizing: border-box;
    &:focus {
      outline: 3px solid $primary-color;
      // box-shadow: 20px 15px 30px yellow, -20px 15px 30px lime, -20px -15px 30px blue, 20px -15px 30px red;
      
    }
  }
  &__button {
    position: absolute;
    right: 0;
    border: none;
    width: 168px;
    height: 64px;
    background-color: $primary-color;
    border-radius: 100px;
    font-family: Roboto, arial, 'sans serif';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    &:hover {
      background-color: #347eff;
    }
    &:active {
      background-color: #2a65cc;
    }
  }
}

@media screen and (max-width: 1387px) {
  .search-form {
    padding-top: 38px;
    padding-bottom: 48px;
    &_container {
      max-width: 448px;
    }
    &__pic {
      box-sizing: border-box;
    }
    &__title {
      font-size: 36px;
      line-height: 40px;
      max-width: 385px;
      margin-bottom: 16px;
    }
    &__subtitle {
      margin-bottom: 48px;
      max-width: 452px;
    }
  }

  .search-bar {
    &__container {
      min-width: 448px;
  
    }
  &__form {
    height: 56px;
  }
    &__input {
      height: 56px;
      padding: 17px 0px 17px 24px;
      max-width: 275px;
      &:focus {
        outline: none;
      }
    }
    &__button {
      position: absolute;
      right: 0;
      border: none;
      width: 160px;
      height: 56px;
      background-color: $primary-color;
      border-radius: 100px;
      font-family: Roboto, arial, 'sans serif';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: white;
    }
  }
}

@media screen and (max-width: 750px) {
  .search-form {
    // max-width: 288px;
    width: 90vw;
    max-width: 400px;
    min-width: 288px;
    padding-top: 30px;
    padding-bottom: 32px;
    &_container {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }
    &__pic {
      box-sizing: border-box;
      background-position: center center;
      background-repeat: no-repeat;
      // width: 100vw;
    }
    &__title {
      font-size: 36px;
      line-height: 40px;
      // max-width: 285px;
      margin-bottom: 16px;
    }
    &__subtitle {
      margin-bottom: 122px;
      // max-width: 288px;
    }
  }

  .search-bar {
    &__form {
      // min-width: 288px;  
 
      height: 100%;
      background-color: transparent;
    }
    
    &__container {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      min-width: 288px;
      width: 90vw;
    }
    &__input {
      height: 56px;
      padding: 17px 0px 17px 24px;
     max-width: 100%;
      margin-bottom: 16px;
      background-color: white;
      &:focus {
        outline: none;
      }
    }
    &__button {
      position: relative;
      width: 100%;
      height: 56px;
    }
  }
}


// @media screen and (min-width: 1920px) {
// .search-form__pic {
//   min-height: 750px;
// }

// }