/* @import url("./__container/header__container.css"); */
/* @import url("./__logo/header__logo.css"); */
.header {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #c4c4c4;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 104px;
  padding-right: 104px;
  padding-top: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-top: 11px;
  margin-bottom: 26px;
  color: white;
}

.header__title_black {
  color: black;
}

.header__home {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 11px;
  margin-right: 42px;
  border-bottom: 3px solid white;
  width: 68px;
  text-align: center;
}

.header__home:hover {
  cursor: pointer;
}

.header__home_saved {
  color: black;
  border-bottom: none;
}

.header__button {
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  height: 48px;
  width: 176px;
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__button:hover {
  cursor: pointer;
}

.header__button_black {
  color: black;
  border: 1px solid black;
  width: auto;
  padding-left: 19px;
  padding-right: 19px;
}

.header__button_white {
  color: white;
  border: 1px solid #ffffff;
  width: auto;
  padding-left: 19px;
  padding-right: 19px;
}

.header__saved-articles {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin-top: 11px;
  margin-right: 64px;
  width: 178px;
  text-align: center;
}

.header__saved-articles:hover {
  cursor: pointer;
}

.header__saved-articles_black {
  color: black;
  border-bottom: 3px solid black;
}

.header__icon {
  min-height: 31px;
  width: 25px;
  margin-left: 25px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/logout-white.svg");
}

.header__icon_black {
  background-image: url("../../images/logout-black.svg");
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1140px) {
  .header__container {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 14px;
  }
  .header__title {
    margin-top: 8px;
    margin-bottom: 18px;
  }
  .header__home {
    font-size: 16px;
    margin-top: 8px;
  }
  .header__button {
    height: 40px;
    font-size: 16px;
  }
  .header__saved-articles {
    font-size: 16px;
    margin-top: 8px;
  }
}

@media screen and (max-width: 750px) {
  .header__container {
    padding: 16px;
    background-color: #1A1B22;
  }
  .header__container_white {
    background-color: white;
  }
  .header__container_transparent {
    background-color: transparent;
  }
  .header__title {
    font-size: 16px;
    margin: 0;
  }
  .header__button {
    height: 56px;
    width: 288px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header__icon {
    height: 24px;
    width: 24px;
    margin: 0;
    background-image: url("../../images/x.svg");
  }
  .header__icon_hamburger-white {
    background-image: url("../../images/hamburger-white.svg");
  }
  .header__icon_hamburger-black {
    background-image: url("../../images/hamburger-black.svg");
  }
}
/*# sourceMappingURL=Header.css.map */