/* @import url("./__container/header__container.css"); */
/* @import url("./__logo/header__logo.css"); */
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #c4c4c4;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1230px;
  width: 100%;
  padding: 19px 104px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title {
  font-family: 'Roboto Slab', arial, 'sans serif';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-top: 11px;
  margin-bottom: 26px;
}

.header__title_black {
  color: black;
}

.header__title_white {
  color: white;
}

.header__home {
  font-family: Roboto, arial, 'sans serif';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 11px;
  margin-right: 42px;
  width: 68px;
  text-align: center;
  text-decoration: none;
}

.header__home:hover {
  cursor: pointer;
}

.header__home_black {
  color: black;
}

.header__home_underlined {
  border-bottom: 3px solid white;
}

.header__button {
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  height: 48px;
  width: 176px;
  background-color: transparent;
  font-family: Roboto, arial, 'sans serif';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__button:hover {
  cursor: pointer;
}

.header__button_black {
  color: black;
  border: 1px solid black;
  width: auto;
  padding-left: 19px;
  padding-right: 19px;
}

.header__button_white {
  color: white;
  border: 1px solid #ffffff;
  width: auto;
  padding-left: 19px;
  padding-right: 19px;
}

.header__button_sign-in {
  width: 176px;
}

.header__saved-articles {
  font-family: Roboto, arial, 'sans serif';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin-top: 11px;
  margin-right: 32px;
  width: 178px;
  text-align: center;
  text-decoration: none;
}

.header__saved-articles:hover {
  cursor: pointer;
}

.header__saved-articles_underlined {
  color: black;
  border-bottom: 3px solid black;
}

.header__icon {
  height: 24px;
  width: 24px;
  margin-left: 19px;
  background-color: transparent;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/logout-white.svg");
}

.header__icon_black {
  background-image: url("../../images/logout-black.svg");
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1140px) {
  .header__container {
    padding: 14px 40px 0px;
  }
  .header__title {
    margin-top: 8px;
    margin-bottom: 18px;
  }
  .header__home {
    font-size: 16px;
    margin-top: 8px;
    margin-right: 16px;
  }
  .header__button {
    height: 40px;
    font-size: 16px;
  }
  .header__button_sign-in {
    width: 152px;
  }
  .header__button_black {
    padding: 8px 15px;
  }
  .header__saved-articles {
    font-size: 16px;
    margin-top: 8px;
    margin-right: 16px;
  }
  .header__icon {
    margin-left: 17px;
  }
}

@media screen and (max-width: 750px) {
  .header {
    max-width: 100%;
  }
  .header__home_navigator {
    margin-bottom: 22px;
  }
  .header__container {
    padding: 16px 16px 24px;
  }
  .header__container_white {
    background-color: white;
  }
  .header__container_transparent {
    background-color: transparent;
  }
  .header__container_black {
    background-color: #1A1B22;
  }
  .header__title {
    font-size: 16px;
    margin: 0;
  }
  .header__button {
    height: 56px;
    width: 288px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header_hidden {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 300ms, linear 300ms;
    transition: opacity 300ms, linear 300ms;
  }
  .header__icon {
    height: 24px;
    width: 24px;
    margin: 0;
  }
  .header__icon_hamburger_white {
    background-image: url("../../images/hamburger-white.svg");
  }
  .header__icon_hamburger_black {
    background-image: url("../../images/hamburger-black.svg");
  }
  .header__icon_x {
    background-image: url("../../images/x.svg");
  }
}
/*# sourceMappingURL=Header.css.map */