@import '../../utils/constants/constants.scss';
/* @import url("./__container/header__container.css"); */
/* @import url("./__logo/header__logo.css"); */

.header {
  width: 100%;
  // margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
  // max-width: 1440px;
  &__container {
    display: flex;
    max-width: 1230px;
    width: 100%;
    // padding-top: 19px;
    padding: 19px 104px 0px;
    // padding-left: 104px;
    // padding-right: 104px;
    box-sizing: border-box;
    justify-content: space-between;
  }
  &__title {
    font-family: 'Roboto Slab', arial, 'sans serif';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 11px;
    margin-bottom: 26px;
    &_black {
      color: black;
    }
    &_white {
      color: white;
    }
  }
  &__home {
    font-family: Roboto, arial, 'sans serif';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-top: 11px;
    margin-right: 42px;
    width: 68px;
    text-align: center;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
    &_black {
      color: black;

    }
    &_underlined {
      border-bottom: 3px solid white;
    }
  }
  &__button {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 100px;
    height: 48px;
    width: 176px;
    background-color: transparent;
    font-family: Roboto, arial, 'sans serif';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
    &_black {
      color: black;
      border: 1px solid black;
      width: auto;
      padding-left: 19px;
      padding-right: 19px;
    }
    &_white {
      color: white;
      border: 1px solid #ffffff;
      width: auto;
      padding-left: 19px;
      padding-right: 19px;
    }
    &_sign-in {
      width: 176px;
    }
  }
  &__saved-articles {
    font-family: Roboto, arial, 'sans serif';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #b6bcbf;
    margin-top: 11px;
    margin-right: 32px;
    width: 178px;
    text-align: center;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
    &_underlined {
      color: black;
      border-bottom: 3px solid black;
    }
  }
  &__icon {
    height: 24px;
    width: 24px;
    margin-left: 19px;
    background-color: transparent;
    border: none;
    transition: 0.3s;
    outline: none;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url('../../images/logout-white.svg');
    &_black {
      background-image: url('../../images/logout-black.svg');
    }
  }
  &__nav {
    display: flex;
  }
}

@media screen and (max-width: 1140px) {
  .header {
    &__container {
padding: 14px 40px 0px;
    }
    &__title {
      margin-top: 8px;
      margin-bottom: 18px;
    }
    &__home {
      font-size: 16px;
      margin-top: 8px;
      margin-right: 16px;
    }
    &__button {
      height: 40px;
      font-size: 16px;
      &_sign-in {
        width: 152px;
      }
      &_black {
        padding: 8px 15px;
      }
    }
    &__saved-articles {
      font-size: 16px;
      margin-top: 8px;
      margin-right: 16px;
    }
    &__icon {
      margin-left: 17px;
    }
  }
}

@media screen and (max-width: 750px) {
  .header {
    max-width: 100%;
    &__home_navigator {
        margin-bottom: 22px;
    }
    &__container {
      padding: 16px 16px 24px;
      &_white {
        background-color: white;
      }
      &_transparent {
        background-color: transparent;
      }
      &_black {
        background-color: $navigator-bg-color;
      }
    }
    &__title {
      font-size: 16px;
      margin: 0;
    }
    &__button {
      height: 56px;
      width: 288px;
      align-self: center;
    }
    &_hidden {
      visibility: hidden;
      opacity: 0;
      transition: opacity 300ms, linear 300ms;
    }
    &__icon {
      height: 24px;
      width: 24px;
      margin: 0;
      &_hamburger_white {
        background-image: url('../../images/hamburger-white.svg');
      }
      &_hamburger_black {
        background-image: url('../../images/hamburger-black.svg');
      }
      &_x {
        background-image: url('../../images/x.svg');
      }
    }
  }
}




