

.footer {
  width: 100%;
  /* max-width: 882px; */
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: #FFFFFF;
  padding-left: 100px;
}

.facebook-icon {
  margin-top: 16px;
  min-height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  transition: 0.3s;
  outline: none;
  background-image: url("../../images/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}


@media screen and (max-width: 1140px) {
  .footer {
    margin: 0 auto;
    max-width: 584px;
  }
}


@media screen and (max-width: 750px) {
  .footer {
    max-width: 282px;
  }
}

.footer__links_container {
  display: flex;
  align-items: center;
}

.footer__copyright {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
  padding: 66px 0 60px;
  margin: 0;
}
.footer__links {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-right: 42px;
  color: #1A1B22;
}

.footer__copyright_container {
  width: 433px;
}

@media screen and (max-width: 750px) {
  .footer__copyright {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    margin-left: 104PX;
    padding: 48px 0 36px;
  }
}

