@import "../../utils/constants/constants.scss";

//REFACTOR so the classes are in the same order as the jsx

.footer {
  width: 100%;
  display: flex;
  background-color: $primary-bg-color;
  justify-content: center;
  height: 85px;
  &__container {
    display: flex;
    // max-width: 882px;
    height: 100%;
    justify-content: space-between;
    width: 80%;
  }
  &__content {
    display: flex;
  }
  &__links {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-right: 0px;
    margin-left: 30px;
    color: $primary-text-color;
    &_container {
      display: flex;
      align-items: center;
    }
  }
  &__copyright {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $secondary-text-color;
    margin: 0;
    &_container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0px;
    }
  }
  &__social-icon {
    min-height: 31px;
    width: 31px;
    background-color: $primary-bg-color;
    border: none;
    transition: 0.3s;
    outline: none;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 30px;
    &_facebook {
      background-image: url("../../images/facebook.svg");
    }
    &_github {
      background-image: url("../../images/github.svg");
    }
    &_container {
      display: flex;
justify-content: center;
margin-right: 0px;

    }
  }
}





@media screen and (max-width: 1140px) {
  .footer {
    width: 100%;
    display: flex;
    background-color: $primary-bg-color;
    justify-content: center;
    height: 64px;
    &__container {
      display: flex;
      // max-width: 882px;
      height: 100%;
      justify-content: space-between;
      width: 90%;
    }
    &__content {
      display: flex;
      margin-right:0px;
    }
    &__links {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      margin-left: 24px;
      margin-right: 0px;
      color: $primary-text-color;
      &_container {
        display: flex;
    
      }
    }
    &__copyright {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: $secondary-text-color;
      margin-left: 0px;
      width: 100%;
      &_container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &__social-icon {
      min-height: 31px;
      width: 25px;
      margin-left: 25px;
      background-color: $primary-bg-color;
      border: none;
      transition: 0.3s;
      outline: none;
      background-repeat: no-repeat;
      background-position: center;

      &_facebook {
        background-image: url("../../images/facebook.svg");
      }
      &_github {
        background-image: url("../../images/github.svg");
      }
      &_container {
        display: flex;
 
  align-items: center;
  
      }
    }
}}


@media screen and (max-width: 750px) {
  .footer {
    width: 100%;
    height: 176px;
    &__container {
      flex-direction: column-reverse;
      height: 70%;
      width: 90%;
      justify-content: space-around;
    }
    &__copyright {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: $secondary-text-color;
      margin-left: 0px;
      padding: 0;
      &_container {
        width: 100%;
        display: flex;
        flex-direction: row;
      }
    }
    &__social-icon {
      min-height: 31px;
      width: 25px;
      margin-left: 0px;
      background-color: $primary-bg-color;
      border: none;
      transition: 0.3s;
      outline: none;
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 24px;
      margin-right: 0px;
      &_facebook {
        background-image: url("../../images/facebook.svg");
      }
      &_github {
        background-image: url("../../images/github.svg");
      }
      &_container {
        display: flex;
        align-items: flex-start;
  
      }
    }
    &__content {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    &__links {
      font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
margin-bottom: 20px;
margin-left: 0;
margin-top: 0;
&_container {
  
  flex-direction: column;
  margin: 0;
  align-items: flex-start;
  
}
    }
  }
}


/* 
1440 
footer__copyright
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

footer__links
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;      or 133% 
text-align: center;


footer margin 30px
*/


/*
768 
footer__copyright
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

footer__links
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;      or 133% 
text-align: center;

footer margin 40px
*/


/*320
 footer__copyright
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

footer__links
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 48px; or 267% 

footer margin 16px
 */

