@import "../../utils/constants/constants.scss";

.nothing-found {
    display: flex;
    flex-direction: column;
    background-color: #f5f6f7;
    align-items: center;
    box-sizing: border-box;
}

.nothing-found__pic {
    background-image: url("../../images/nothing-found.svg");
    background-repeat: no-repeat;
    height: 96px;
max-width: 96px;
margin-bottom: 24px;
}
.nothing-found__title {
    font-family: 'Roboto Slab', arial, 'sans serif';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 16px;
    color: $primary-text-color;
}
.nothing-found__subtitle {
    font-family: Roboto, arial, 'sans serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    max-width: 250px;
    text-align: center;
}